<!DOCTYPE html>
<html>

    <head>
        <title>Dashboard</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </head>

    <body>
        <h1>Dashboard</h1>
        <ul>
            <li>
                <a href="/" target="_self">Home</a>
            </li>
            <li>
                <a href="/dashboard" target="_self">Dashboard</a>
            </li>
            <li>
                <a href="/entries" target="_self">Entries</a>
            </li>
            <li>
                <a href="/users" target="_self">Users</a>
            </li>
            <li>
                <a href="/setup" target="_self">Setup</a>
            </li>
        </ul>
        <hr/>

        <div align="center">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        
            
        <script>
            // GET User info
            let xmlhttp = new XMLHttpRequest();
            let url = 'http://localhost:3001/users/list';

            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    let users = JSON.parse(this.responseText);
                    console.log(users);
                    let userNames = getUserNames(users);
                    let userTotals = getUserTotals(users);
                    console.log(userNames);
                    console.log(userTotals);
                    createChart(userNames, userTotals);
                }
            };
            xmlhttp.open("GET", url, true);
            xmlhttp.send();

            // Create Chart
            function createChart(userNames, userTotals){
                var ctx = document.getElementById("myChart");
                
                var oilData = {
                    labels: userNames,
                    datasets: [
                        {
                            data: userTotals,
                            backgroundColor: [
                                "#FF6384",
                                "#63FF84",
                                "#8463FF",
                                "#6384FF"
                            ]
                        }]
                };
                var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: oilData,
                options: {
                    cutoutPercentage: 40,
                    responsive: false,

                }
                });
            }
            
            function getUserNames(users){
                let userNames = [];
                users.forEach(user => {
                    userNames.push(user.alias);
                });
                return userNames;
            }

            function getUserTotals(users){
                let userTotals = [];
                users.forEach(user => {
                    userTotals.push(user.totalAmmount);
                });
                console.log(userTotals);
                return userTotals;
            }
        </script>
    </body>

</html>