<!DOCTYPE html>
<html>

<head>
    <title>CryptoApp</title>
</head>

<body>
    <h1>Crpytoapp</h1>
    <ul>
        <li>
            <a href="/" target="_self">Home</a>
        </li>
        <li>
            <a href="/dashboard" target="_self">Dashboard</a>
        </li>
        <li>
            <a href="/entries" target="_self">Entries</a>
        </li>
        <li>
            <a href="/users" target="_self">Users</a>
        </li>
        <li>
            <a href="/setup" target="_self">Setup</a>
        </li>
    </ul>
    <hr/>
</body>

</html>