<!DOCTYPE html>
<html>

<head>
    <title>Users</title>
</head>

<body>
    <h1>Users</h1>

    <!-- MENU -->
    <ul>
        <li>
            <a href="/" target="_self">Home</a>
        </li>
        <li>
            <a href="/dashboard" target="_self">Dashboard</a>
        </li>
        <li>
            <a href="/entries" target="_self">Entries</a>
        </li>
        <li>
            <a href="/users" target="_self">Users</a>
        </li>
        <li>
            <a href="/setup" target="_self">Setup</a>
        </li>
    </ul>
    <hr/>

    <!-- ADD NEW USER -->
    <form action="/users" method="POST">
        <label for="user">User Name</label>
        <input type="text" name="alias" placeholder="User Name" />
        <input type="submit">
    </form>

    <br><br>

    <!-- USERS TABLE -->
    <table id="usersTable" border="1" frame="box" align="center">
        <thead id="usersColumnData">
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Total Amount</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody id="usersRowData">
            <!--tr >
                <td>1</td>
                <td>Maikis</td>
                <td>0.250</td>
                <td>16-04-2020</td>
            </tr-->
        </tbody>
    </table>

    <script>
        // GET User Info
        let xmlhttp = new XMLHttpRequest();
        let url = 'http://localhost:3001/users/list';

        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                let users = JSON.parse(this.responseText);
                createTable(users);
            }
        };
        xmlhttp.open("GET", url, true);
        xmlhttp.send();

        // Create Table
        function createTable(users) {
            users.forEach(user => {
                let table = document.getElementById("usersTable");
                let row = table.insertRow(-1);
                let cell1 = row.insertCell(0);
                let cell2 = row.insertCell(1);
                let cell3 = row.insertCell(2);
                let cell4 = row.insertCell(3);
                cell1.innerHTML = user.id;
                cell2.innerHTML = user.alias;
                cell3.innerHTML = user.totalAmount;
                cell4.innerHTML = "TODAY";
            });
        }
    </script>

</body>

</html>